body {
  padding: 0;
  margin: 0 15px;
  font-family: 'Roboto', sans-serif;
}

.skillset-container > .skillset > .skill, .portfolio-container > .showcase > .project-text > .technologies > .skill {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75px;
  margin: 5px;
  min-height: 111.06px;
}

.skillset-container > .skillset > .skill > img, .portfolio-container > .showcase > .project-text > .technologies > .skill > img {
  margin: auto 0;
  width: 100%;
}

.skillset-container > .skillset > .skill > p, .portfolio-container > .showcase > .project-text > .technologies > .skill > p {
  text-align: center;
  margin: 4px 0;
}

.nav-overlay {
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  position: fixed;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-container > .link-container > a {
  display: inline-block;
  margin: 16px 0;
  text-decoration: none;
}

.nav-container > .mobile-menu {
  display: none;
}

.skillset-container > h1 {
  text-align: center;
}

.skillset-container > .skillset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-container {
  max-width: 1000px;
  margin: 120px auto;
}

.portfolio-container > h1 {
  text-align: center;
  margin: 60px 0;
}

.portfolio-container > .showcase {
  display: flex;
  flex-direction: column;
  margin: 120px auto;
}

@media screen and (min-width: 900px) {
  .portfolio-container > .showcase {
    flex-direction: row;
  }
  .portfolio-container > .showcase:nth-child(even) {
    flex-direction: row-reverse;
  }
  .portfolio-container > .showcase:nth-child(even) > .project-text {
    text-align: right;
  }
  .portfolio-container > .showcase:nth-child(even) > .project-text > .technologies {
    flex-direction: row;
  }
}

.portfolio-container > .showcase > .project-picture {
  flex: 1;
  margin: 0 15px;
}

.portfolio-container > .showcase > .project-picture > img {
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 300px;
  object-fit: contain;
}

.portfolio-container > .showcase > .project-picture > .buttons {
  display: flex;
  justify-content: center;
}

.portfolio-container > .showcase > .project-picture > .buttons button {
  margin: 0 5px;
}

.portfolio-container > .showcase > .project-text {
  font-size: 16px;
  flex: 2;
  padding: 0 30px 15px;
}

.portfolio-container > .showcase > .project-text > h4 {
  margin: 0;
}

.portfolio-container > .showcase > .project-text > h5 {
  margin: 10px 0 5px;
}

.portfolio-container > .showcase > .project-text > p {
  margin: 10px 0;
}

.portfolio-container > .showcase > .project-text > .technologies {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.portfolio-container > .showcase > .project-text > .technologies > .skill {
  min-height: initial;
  width: 60px;
  font-size: 12px;
}

.contact-container > h1 {
  text-align: center;
}

.contact-container .contact {
  max-width: 600px;
  padding: 0 16px;
  margin: 0 auto;
}

.contact-container .contact input, .contact-container .contact textarea {
  display: block;
  width: 100%;
}

.contact-container .contact button {
  display: block;
  margin-left: auto;
}

.buttons {
  margin: 8px 0;
}

.buttons > button {
  height: 28px;
  border: none;
  padding: 0 8px;
  border-radius: 2px;
  outline: none;
}

.buttons > button:active {
  transform: translateY(1px);
}

@media screen and (max-width: 900px) {
  .nav-container > .mobile-menu {
    display: block;
  }
  .nav-container > .link-container {
    display: none;
  }
}
 

 /*# sourceMappingURL= my-website.css.map */