.section {
  display: flex;
}

.header {
  justify-content: space-around;
  font-family: 'Exo 2', sans-serif;
  &__link {
    cursor: pointer;
  }
}

.intro {
  flex-direction: column;
  align-items: center;
  &__head {
    font-family: 'Exo 2', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-size: 90px;
    font-weight: 300;
  }
  &__button {
    width: 200px;
    height: 70px;
  }
}